@import "../../app.scss";
.contact {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100%;
  padding-top: 70px;
  gap: 50px;
  margin: auto;
  width: 85%;
//   padding: ;

  @include mobile {
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    gap:30px;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include mobile {
      text-align: center;
    //   margin-top: 40px;
      gap: 15px;
    }

    h1 {
      font-size: 40px;
      line-height: 0.95;
      font-weight: 600;

      @include mobile{
        font-size:48px;
        line-height: 1.2;
      }
    }
    span {
      font-weight: 300;
    }
  }
  .formContainer {
    flex: 1;
    position: relative;
    
    .svg {
      position: absolute;
      stroke: red;
      height: 70%;
      width: 70%;
      z-index: -1;
      right: 15%;
      top:-5%;

      @include mobile {
        margin-top: 40px;
        height: 350px;
        width: 300px;
       
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    //   margin-top: 20px;
      
        @include mobile {
          margin-top: 0px;
          width: 300px;
           margin-bottom: 18px;
        }
      input,
      textArea {
        padding: 10px;
        background-color: transparent;
        color: gray;
        border: none;
        border: 1px solid rgb(190, 196, 201);
        border-radius: 5px;
        
      }
      .message {
        color: azure;
        @include mobile{
          // height: ;
        }
      }
      button {
        background-color: #ff002e;
        padding: 15px;
        border-radius: 5px;
        color: black;
        cursor: pointer;
        color: white;
        font-weight: 500;
        font-size: large;
        &:hover {
          opacity: 85%;
        }
      }
    }
  }
}
