section{
//  height: 100%;
scroll-snap-align:center ;
}
html section{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

@mixin tablet{
    @media (max-width:1080px){
        @content
    }
}
@mixin desktop{
    @media(max-width:1336px){
        @content
    }
}
@mixin mobile{
    @media (max-width:738px){
        @content
    }
}